<!DOCTYPE html>
<html lang="en" data-textdirection="RTL" class="loading">
<% include ../src/head %>
<% include ../src/map %>
<% include ../src/mapFunc %>

<body data-open="click" data-menu="vertical-overlay-menu" data-col="2-columns"
        class="vertical-layout vertical-overlay-menu 2-columns  fixed-navbar">
        <div id="preloader-wrapper">
                <div id="loader" class="ball-scale loader-white">
                        <div></div>
                </div>
                <div class="loader-section section-top bg-primary"></div>
                <div class="loader-section section-bottom bg-primary"></div>
        </div>
        <% include ../src/nav %>
        <% include ../src/fullscreen-search-overlay %>
        <div class="main-menu menu-dark menu-fixed menu-border menu-accordion">
                <div class="main-menu-header">
                        <input type="text" placeholder="Search" class="menu-search form-control round">
                </div>
                <% include ../src/nav-data %>
        </div>
        <div class="robust-content content container-fluid">
                <div class="content-wrapper">
                        <div class="content-body">
                                <%-body-%>
                        </div>
                </div>
        </div>
        <% include ../src/footer %>
        <% include ../src/form %>
        <% include ../src/script %>
        <% include ../src/functions %>
        <% include ../src/table %>
        <%- block('eof').toString() %>
</body>

</html>