<script>
    function f(field) {
        let down = [];
        let _obj = `<div class="row">`;
        let _left = `<div name="left" class="col-md-6">`;
        let _right = `<div name="right" class="col-md-6">`;

        if (true) {
            // key

            const _html = map(`${field.element.key.type}${field.element.key.required ? '-required' : ''}`, {
                label: field.element.key.html.label,
                id: field.element.key.html.id,
                name: field.element.key.html.name,
                key: field.element.key.html.key
            });
            if (field.element.key.html.right) {
                _right += _html;
            } else {
                _left += _html;
            }
        }

        if (true) {
            // value

            for (const key of Object.keys(field.element.value)) {
                const e = field.element.value[key];
                if (e.type.toLowerCase() == 'object') {
                    down.push(f(e));
                } else {
                    const _html = map(`${e.type}${e.required ? '-required' : ''}`, {
                        label: e.html.label,
                        id: e.html.id,
                        name: e.html.name,
                        key: e.html.key
                    });
                    if (e.html.right) {
                        _right += _html;
                    } else {
                        _left += _html;
                    }
                }
            }
        }

        _left += `</div>`;
        _right += `</div>`;
        _obj += `${_right}${_left}</div>${down.join('')}`;
        return _obj;
    }
</script>

<script>
    const before = $('#form').html();
    $('#form').html('');
    var Form = JSON.parse('<%-JSON.stringify(variables.form)%>');
    for (let index = 0; index < Form.length; index++) {
        let HTML = `<h6>Step ${index+1}</h6><fieldset><div class="row">`;
        let left = `<div class="col-md-6">`;
        let right = `<div class="col-md-6">`;
        let down = [];
        const step = Form[index];
        const stepKeys = Object.keys(step);
        for (const key of stepKeys) {
            const field = step[key];
            if (field.type.toLowerCase() == 'object') {
                down.push(`<section>${f(field)}</section>`);
            } else {
                const _html = map(`${field.type}${field.required ? '-required' : ''}`, {
                    label: field.html.label,
                    id: field.html.id,
                    name: field.html.name,
                    key: field.html.key
                });
                if (field.html.right) {
                    right += _html;
                } else {
                    left += _html;
                }
            }
        }
        left += `</div>`;
        right += `</div>`;
        HTML += `${right}${left}</div>${down.join('')}</fieldset>`;
        $('#form').append(HTML);
    }
    $('#form').append(before);
    setTimeout(() => {
        $('form#form a[href="#next"]').html('<i class="fas fa-arrow-left"></i>')
        $('form#form a[href="#previous"]').html('<i class="fas fa-arrow-right"></i>')
        $('form#form a[href="#finish"]').html('<i class="fa fa-paper-plane" aria-hidden="true"></i>')
    }, 500);
</script>