<div class="main-menu-content">
        <ul id="main-menu-navigation" data-menu="menu-navigation" class="navigation navigation-main">
                <li class=" navigation-header"><span data-i18n="nav.category.tables"></span><i data-toggle="tooltip"
                                data-placement="right" data-original-title="Tables"
                                class="icon-ellipsis icon-ellipsis"></i>
                </li>
                <li class="nav-item has-sub"><a href="index.html"><i class="icon-home3"></i><span
                                        data-i18n="nav.dash.main" class="menu-title">داشبورد</span><span
                                        class="tag tag tag-primary tag-pill float-xs-right mr-2"></span></a>
                        <ul class="menu-content" style="">
                                <li class="active"><a href="/" data-i18n="nav.dash.crm" class="menu-item">خانه</a>
                                </li>
                                <li class="active"><a href="http://192.168.1.106:8080" data-i18n="nav.dash.crm"
                                                class="menu-item">نمایش فرم داوطلبان</a>
                                </li>
                                <li onclick="$('#logout').click()"><a href="#" data-i18n="nav.dash.project"
                                                class="menu-item">خروج</a>
                                </li>
                        </ul>
                </li>

                <li class="nav-item has-sub"><a href="#"><i class="icon-cloud-upload3"></i><span
                                        data-i18n="nav.file_uploaders.main" class="menu-title">مدیر فایل</span></a>
                        <ul class="menu-content">
                                <li><a href="http://192.168.1.106:8082"
                                                data-i18n="nav.file_uploaders.file_uploader_dropzone"
                                                class="menu-item">مرورگرفایل</a>
                                </li>
                        </ul>
                </li>

                <li class=" nav-item"><a href="#"><i class="icon-edit2"></i><span data-i18n="nav.bootstrap_tables.main"
                                        class="menu-title">گزارشات - عمومی</span></a>
                        <ul class="menu-content">
                                <li><a href="/table/tables" data-i18n="nav.bootstrap_tables.table_basic"
                                                class="menu-item">لیست جداول</a>
                                </li>
                                <li><a href="/table/hampa:register" data-i18n="nav.bootstrap_tables.table_basic"
                                                class="menu-item">لیست داوطلبان</a>
                                </li>
                                <li><a href="/table/baran:manualwork" data-i18n="nav.bootstrap_tables.table_basic"
                                                class="menu-item">لیست کاردستی ها</a>
                                </li>
                                <li><a href="/table/baran:game" data-i18n="nav.bootstrap_tables.table_basic"
                                                class="menu-item">لیست بازی ها</a>
                                </li>
                                <li><a href="/table/baran:teachingpoint" data-i18n="nav.bootstrap_tables.table_basic"
                                                class="menu-item">لیست نکات آموزشی</a>
                                </li>
                                <li><a href="/table/baran:faq" data-i18n="nav.bootstrap_tables.table_basic"
                                                class="menu-item">لیست پرسش و پاسخ ها</a>
                                </li>
                        </ul>
                </li>
                <li class=" nav-item"><a href="#"><i class="icon-security"></i><span
                                        data-i18n="nav.bootstrap_tables.main" class="menu-title">گزارشات -
                                        سرور</span></a>
                        <ul class="menu-content">
                                <li><a href="/table/user" data-i18n="nav.bootstrap_tables.table_basic"
                                                class="menu-item">لاگ سرور</a>
                                </li>
                                <li><a href="/table/user" data-i18n="nav.bootstrap_tables.table_basic"
                                                class="menu-item">کاربران</a>
                                </li>
                                <li><a href="/table/role" data-i18n="nav.bootstrap_tables.table_basic"
                                                class="menu-item">نقش ها</a>
                                </li>
                                <li><a href="/table/permission" data-i18n="nav.bootstrap_tables.table_basic"
                                                class="menu-item">دسترسی ها</a>
                                </li>
                                <li><a href="/table/view" data-i18n="nav.bootstrap_tables.table_basic"
                                                class="menu-item">پوسته ها</a>
                                </li>
                                <li><a href="/table/config" data-i18n="nav.bootstrap_tables.table_basic"
                                                class="menu-item">کانفیگ ها</a>
                                </li>
                                <li><a href="/table/captcha" data-i18n="nav.bootstrap_tables.table_basic"
                                                class="menu-item">کپچا ها</a>
                                </li>
                                <li><a href="/table/request" data-i18n="nav.bootstrap_tables.table_basic"
                                                class="menu-item">درخواست ها</a>
                                </li>
                                <li><a href="/table/socket" data-i18n="nav.bootstrap_tables.table_basic"
                                                class="menu-item">سوکت ها</a>
                                </li>
                                <li><a href="/table/email" data-i18n="nav.bootstrap_tables.table_basic"
                                                class="menu-item">پست های الکترونیک</a>
                                </li>
                                <li><a href="/table/config" data-i18n="nav.bootstrap_tables.table_basic"
                                                class="menu-item">کانفیگ ها</a>
                                </li>
                        </ul>
                </li>

                <!-- <li class="nav-item has-sub"><a href="#"><i class="icon-laptop"></i><span
                                        data-i18n="nav.file_uploaders.main" class="menu-title">لاگ سرور</span></a>
                </li> -->

                <li class="nav-item has-sub"><a href="#"><i class="icon-document-text"></i><span
                                        data-i18n="nav.file_uploaders.main" class="menu-title">داکیومنت</span></a>
                        <ul class="menu-content">
                                <li><a href="#" data-i18n="nav.file_uploaders.file_uploader_dropzone"
                                                class="menu-item">داکیومنت فنی</a>
                                </li>
                                <li><a href="#" data-i18n="nav.file_uploaders.file_uploader_dropzone"
                                                class="menu-item">داکیومنت نرم افزار</a>
                                </li>
                                <li><a href="https://github.com/alihejrati/server" data-i18n="nav.file_uploaders.file_uploader_dropzone"
                                                class="menu-item">کد منبع</a>
                                </li>
                        </ul>
                </li>
        </ul>
</div>